.body-stoke {
    width:400px;
    background-color: rgb(246, 244, 244);
    box-shadow:  5px 5px 10px #d9d9d9,
             -5px -5px 10px #ffffff;
             display: flex;
            
             justify-content:space-between ;
             transition: 0.8s;
             padding:22px;
             margin: 12px;
             width: 50%;
             flex-wrap: wrap;
}

.body-stoke p {
    padding: 0;
    margin: 0px;
    padding-bottom: 9px;
    font-weight: bold;
}


.body-stoke:hover {
    box-shadow:  5px 5px 10px #8299ff,
    -5px -5px 10px #ffffff;
 
}

.container-stoke {
    display: grid;
    place-items: center;
}

.body-stoke input {
    width: 42px;
}

.body-stoke button {
    border: none;
    margin: 5px;
    padding:  5px 10px;
}

.bg-dark {
    background: rgb(19, 19, 19);
    color: rgb(148, 211, 76);
}
.text-color-red {
    color: rgb(233, 82, 82) !important ; 
}

.body-stoke button:hover {
    background-color:  rgb(24, 24, 24);
    color: white;
    cursor: pointer;
}

.clr-red span {
    color: rgb(230, 95, 95);
}

.clr-grn span {
    color: rgb(106, 230, 95);
}

.body-price , .body-space , .body-name {
    margin: 10px;
}